ACTION=="add", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", ENV{DEVICETYPE}="partition", RUN+="/bin/systemctl start mount-usb.service"
ACTION=="remove", SUBSYSTEM=="block", ENV{ID_BUS}=="usb", RUN+="/bin/umount -l /data/slideshow" 
