[Unit]
Description=USB Slideshow
After=graphical.target

[Service]
User=admin
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/admin/.Xauthority

WorkingDirectory=/opt/slideshow

ExecStart=/usr/bin/python3 /opt/slideshow/slideshow.py -- :0

Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
