[Unit]
Description=USB Slideshow
After=multi-user.target

[Service]
User=admin
Group=admin
WorkingDirectory=/opt/slideshow

ExecStart=/usr/bin/startx /usr/bin/python3 /opt/slideshow/slideshow.py -- :0

Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
