[Unit]
Description=USB Slideshow
After=display-manager.service
Wants=display-manager.service

[Service]
User=admin
WorkingDirectory=/opt/slideshow

Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/admin/.Xauthority

ExecStart=/usr/bin/python3 /opt/slideshow/slideshow.py

Restart=always
RestartSec=5

[Install]
WantedBy=graphical.target
